#container{
    width : 70%;
    position:relative;
    margin:auto;
}

h1{
    width :100%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 5vh;
}

header,section{
    width:100%;
    position:absolute;
    border: 2px solid black;
}

header{
    top :8vh;
    text-align:center;
    display:grid;
    grid-template-columns:1fr 1fr;
}

header input{
    width: 100px;
}

section{
   top : 20vh;
   
}

section div{
    display:grid;
    grid-template-columns: 12fr 1fr 1fr;
    grid-template-rows: auto;
    margin:10px;
}

input{
    margin-left : 10px;
    margin-right :10px;
    font-size: larger;
}

label{
    margin-left: 10px;
    font-size: larger;
}

button{
    font-size: large;
}

 